.current-rent-container{
    width: 100%;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    .current-rent-element{
       display:flex;
       justify-content: space-between;
       align-items:center;
       width: 100%;
       background-color:white;
       padding: 20px 30px 30px 30px;
       margin-top: 10px;
    }   
    ul{
        display: flex;
        li{
            margin-left:10px;
        }
    }
}


@media screen and (max-width: 680px){
    .current-rent-element{
        flex-direction: column;
        ul{
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 400px){
    .current-rent-container{
        .current-rent-element{ 
            padding: 20px 15px 30px 15px;
        }
    }
}