.avaliable-rent-container{
    width: 100%;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    .avaliable-rent-element{
       display:flex;
       justify-content: space-between;
       align-items:center;
       width: 100%;
       background-color:white;
       padding: 20px 30px 30px 30px;
       margin-top: 10px;
    }   
    ul{
        display: flex;
        li{
            margin-left:10px;
        }
    }
    .functional-container{
        display: flex;
        align-items:center;
        .hide-input{
            width: 50px;
            height: 25px;
            margin: 10px 10px;
        }
        .hide-input-container{
            display:flex;
            align-items: center;
            .p-wrapper{
                display:flex;
                flex-direction: column;
            }
        }
        p{
            margin: 5px 5px;
        }
        .btn-container {
            display: flex;
            align-items:center;
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 1000px){
    .functional-container{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 680px){
    .avaliable-rent-element{
        flex-direction: column;
        ul{
            margin-bottom: 10px;
        }
    }
}

// .test {
//     width: 16px;
//     height: 16px;
//     mask: url("~@/img/money.svg") no-repeat center;
//     mask-size: 16px;
// }