@import "./theme.scss";
@import "./base-component-styles.scss";
@import "./media.scss";

.color-light-blue {
    color: $light-blue;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-light-red {
    background-color: $light-red;
}

.bg-deep-blue {
    background-color: $deep-blue;
}

.red{
    color:$light-red;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;    
}

ul{
    list-style: none;
    padding: 0;
  }

h2 {
    margin-left:10px;
}

.container{
    position: relative;
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #f5f5f5 ;   
}

.outer-container{
    width: 100%;
    min-width: 358px;
    position:relative;
    background-color: #f5f5f5 ;
    padding-top: 75px;
}

.header-contanier{
    max-width: 976px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

.h-contanier{
    display:flex;  
}